<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        
    </head>
    <body>
        <form action="/productsv" method="post">
            <p>Click the Display button to display products greater than 16000</p>
            <button type="submit">Display</button>
        </form>
        </body>
        </html
