<!DOCTYPE html>
<html>
    <head>
        <title>Temperature</title>
        
    </head>
    <body>
        <form action="/tempv" method="post">
            <p>Click the Display button to display Temperature of country with high and low values</p>
            <button type="submit">Display</button>
        </form>
        </body>
        </html
