<!DOCTYPE html>
<html>
    <head>
        <title>Marks</title>
        
    </head>
    <body>
        <form action="/loginv" method="post">
        <p>Name : <input type="text" name="name" id="name"></p>
        <p>Roll No : <input type="numb" name="roll" id="roll"></p>
        <p>Date of Exam : <input type="date" name="date" id="date"></p>    
        <p><button type="submit" onclick="validate()">Submit</button></p>
    </form>
    <script src="../public/js/Task1.js"></script>
    </body>
</html>